body {
  position: relative;
  background-color: #e5e5e5;
}

.main__wrapper {
  width: 1440px;
  margin: 0 auto;
  /* border: 1px solid gray; */
}

.header {
  height: 89px;
  background-color: #590bff;
}
.header__adress-book {
  position: absolute;
  color: #ffffff;
  height: 70px;
  left: 250px;
  font-family: Roboto;
  font-size: 50px;
  text-align: left;
  font-weight: 400;
  line-height: 33px;
}
.main {
  position: relative;
  background-color: white;
  display: flex;
}
.divider {
  position: absolute;
  width: 2px;
  height: 451px;
  left: 280px;
  top: 49px;
  background: #c4c4c4;
}
.divider__link1 {
  width: 285px;
  /* border: 1px solid black; */
  height: 500px;
  padding: 20px;
  font-size: 30px;
}
.divider__link2 {
  display: flex;
  flex-direction: column;
}
.divider__link2-item {
  font-size: 25px;
  font-weight: 200px;
  color: #c1aaf5;
  line-height: 5px;
  margin-top: 90px;
  margin-left: -250px;
  line-height: 20px;
}
.container__menu {
  position: static;
  overflow-y: overlay;
  width: 1000px;
  height: 500px;
  top: 30px;
}
.wrapper__block1 {
  position: relative;
  background-color: #590bff;
  height: 50px;
  width: 1140px;
  left: 0px;
  margin: 20px;
  border-radius: 0px;
}
.text__1 {
  position: static;
  color: #ffffff;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 200;
  line-height: 33px;
  margin: 40px;
}

.list__a {
  position: static;
  padding: 5px;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  margin: 80px;
}
.wrapper__block2 {
  position: relative;
  background-color: #590bff;
  height: 50px;
  width: 1140px;
  left: 0px;
  margin: 20px;
  border-radius: 0px;
}

.text__2 {
  position: static;
  color: #ffffff;
  left: 170px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 200;
  line-height: 33px;
  margin: 40px;
}
.list__b {
  position: static;
  padding: 5px;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin: 80px;
}
.wrapper__block3 {
  position: relative;
  background-color: #590bff;
  height: 50px;
  width: 1140px;
  left: 0px;
  margin: 20px;
  border-radius: 0px;
}
.text__3 {
  position: static;
  color: #ffffff;
  left: 170px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 200;
  line-height: 33px;
  margin: 40px;
}
.list__v {
  position: static;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin: 80px;
}
.wrapper__block4 {
  position: relative;
  background-color: #590bff;
  height: 50px;
  width: 1140px;
  left: 0px;
  margin: 20px;
  border-radius: 0px;
}
.text__4 {
  position: static;
  color: #ffffff;
  left: 170px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 200;
  line-height: 33px;
  margin: 40px;
}
.list__g {
  position: static;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin: 80px;
}
.wrapper__block5 {
  position: relative;
  background-color: #590bff;
  height: 50px;
  width: 1140px;
  left: 0px;
  margin: 20px;
  border-radius: 0px;
}
.text__5 {
  position: static;
  color: #ffffff;
  left: 170px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 200;
  line-height: 33px;
  margin: 40px;
}
.list__d {
  position: static;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin: 80px;
}
.wrapper__block6 {
  position: relative;
  background-color: #590bff;
  height: 50px;
  width: 1140px;
  left: 0px;
  margin: 20px;
  border-radius: 0px;
}
.text__6 {
  position: static;
  color: #ffffff;
  left: 170px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 200;
  line-height: 33px;
  margin: 80px;
}
.list__j {
  position: static;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin: 80px;
}
